@media only screen and (min-width: 350px) {
  /* mobile */
}

@media only screen and (min-width: 1024px) {
  /* desktop */

  body {
    position: relative;
    margin: 0;
    padding: 20px;
  }

  .powerButton {
    color: var(--color-text);
    position: fixed;
    padding: 20px;
    right: 10%;
    top: 30px;
    height: 150px;
    width: 130px;
    background-color: var(--color-background);
    padding: 1rem;
    border: 5px solid var(--color-text);
  }

  .powerButton img {
    height: 100px;
    width: 90px;
  }

  .christmastreeNotLight {
    height: 700px;
    width: 710px;
    top: 0;
    position: absolute;
    margin-left: 23%;
  }
}
