@media only screen and (min-width: 350px) {
  /* mobile */
}

@media only screen and (min-width: 1024px) {
  /* desktop */

  h1 {
    color: var(--color-text);
    text-align: left;
    margin-top: 1rem;
    padding: 1rem;
    font-size: var(--h1);
    font-family: Poppins-Regular;
    display: inline-table;
  }

  h2 {
    color: var(--color-text);
    text-align: left;
    font-size: var(--h2);
    font-family: Poppins-Regular;
    display: inline;
  }
  body {
    position: relative;
    margin: 0;
    padding: 20px;
    height: 100vh;
  }

  .powerButton {
    color: var(--color-text);
    position: fixed;
    padding: 20px;
    right: 10%;
    top: 30px;
    height: 150px;
    width: 130px;
    background-color: var(--color-background);
    padding: 1rem;
    border: 5px solid var(--color-text);
  }

  .powerButton img {
    height: 100px;
    width: 90px;
  }

  .christmastreeContainer {
    height: 700px;
    align-items: center;
    justify-self: center;
    position: relative;
    margin-top: 0;
    margin: auto;
  }

  .christmastreeNotLight {
    height: 650px;
    width: auto;
    margin-top: 0;
    position: absolute;
    object-fit: contain;
  }
  .bubblesContainer {
    display: flex;
    height: 100%;
    width: 502px;
  }

  .bubble {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
  }
}
