@media only screen and (min-width: 767px) {
  /* Tablet */

  h1 {
    display: block;
  }
  .bell {
    left: 50%;
    position: absolute;
    top: 1rem;
  }

  .bell img {
    height: 80px;
    width: 80px;
  }

  .powerButton {
    top: 1rem;
    position: absolute;
  }
  .powerButton img {
    height: 80px;
    width: 70px;
  }

  .christmastreeContainer {
    top: 0;
    margin: auto;
  }

  .christmastreeNotLight {
    top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* desktop */

  h1 {
    margin-top: 1rem;
    padding: 1rem;
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
    padding: 1rem;
    display: inline;
  }
  body {
    position: relative;
    margin: 0;
    padding: 20px;
    height: 100vh;
  }

  .bell {
    left: 52%;
    top: 1rem;
    position: absolute;
  }

  .bell img {
    height: 100px;
    width: 100px;
  }

  .powerButton {
    top: 1rem;
    position: absolute;
  }
  .powerButton img {
    height: 100px;
    width: 90px;
  }

  .christmastreeContainer {
    height: 650px;
    align-items: center;
    justify-self: center;
    position: relative;
    top: 0;
  }

  .christmastreeNotLight {
    height: 650px;
    width: auto;
    top: 0;
    position: absolute;
    object-fit: contain;
  }
  .bubblesContainer {
    display: flex;
    height: 100%;
    width: 502px;
  }

  .bubble {
    position: absolute;
  }
}
