#  HTML

 <div class="plate">
        <div class="plate-inner"></div>
        <img src = "/images/bread.svg" alt="Loaf of bread"/>
        <img src = "/images/egg.svg" alt="Egg cut in half"/>
        <img src = "/images/potato.svg" alt="one potato"/>
        <img src = "/images/ham.svg" alt="ham"/>
        <img src = "/images/kale.svg" alt="kale"/>
        <img src = "/images/herring.svg" alt="herring"/>
      </div>

      <button class="mainButton">Click for useless dog bark</button>

# css
.mainButton {
  color: rgb(196, 61, 61);
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #0000ff;
  padding: 1rem;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

footer p {
  font-size: 14px;
  color: #0000ff;
}
.mouseTracker {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: #0000ff;
}

.plate {
  margin-left: 35%;
  bottom: 5%;
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-color: rgb(226, 225, 231);
  box-shadow: 0 -30px 30px -10px rgba(0, 0, 0, 1),
    0 0 8px 1px rgba(255, 255, 255, 1) inset;
  transform: rotate(30deg);
  transform-origin: center;
  /* animation: spin 1.5s linear infinite; */
}

.plate .plate-inner {
  width: 95%;
  height: 95%;
  object-fit: contain;
  position: absolute;
  left: 4%;
  top: 5%;
  border-radius: 100%;
  box-shadow: 0 20px 10px -5px rgba(255, 255, 255, 0.5) inset,
    0 -20px 10px -5px rgba(0, 0, 0, 0.5) inset;
}

img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 20%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
# JavaScript
const button = document.querySelector('button');
button.addEventListener('click', function () {
  button.style.color = `#b36b00`;
});

const mouseTracker = document.querySelector('.mouseTracker');
addEventListener('mousemove', function (event) {
  const x = (event.clientX * 100) / window.innerWidth + '%';
  const y = (event.clientY * 100) / window.innerHeight + '%';

  mouseTracker.style.transition = '0s';
  mouseTracker.style.left = x;
  mouseTracker.style.top = y;
});
