:root {
  /* Font size */
  --h1: 1.3rem;
  --h2: 1rem;

  /* Colors */
  --color-background: #682332;
  --color-bg-second: #012c5f;
  --color-text: #f5dfbc;
  --color-bubble-beige: #f3cfba;
  --color-bubble-yellow: #e6e656;
  --color-bubble-red: #e23045;
  --color-bubble-blue: #237ee2;

  /* Font */
  --font-main: Poppins-Regular;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  position: relative;
  height: 120vh;
  margin: 0;
  padding: 20px;
}
/* class created in click.js for changing background color on scroll. */
.backgroundColor {
  background-color: var(--color-bg-second);
}

h1 {
  color: var(--color-text);
  text-align: left;
  font-size: var(--h1);
  font-family: Poppins-Regular;
  display: inline-block;
}

h2 {
  color: var(--color-text);
  text-align: left;
  font-size: var(--h2);
  font-family: Poppins-Regular;
  display: inline-block;
}

.bell {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 12%;
}
/* class created to allow "bell" to stop moving when dblclick in doubleClick.js */
.moveBell {
  transform: rotate(15deg);
  transform-origin: top;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.powerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  right: 10%;
  height: 100px;
  width: 100px;
  margin-left: 12%;
}

.christmastreeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 360px;
  top: 0;
}
.christmastreeNotLight {
  position: absolute;
  height: 500px;
  width: 360px;
}

/* Container that controls that "bubble" don't spread out too much on the screen. */
.bubblesContainer {
  display: flex;
  justify-items: center;
  width: 430px;
  height: 100%;
  gap: 10px;
}

/* class added in loop in key.js */
.bubble {
  display: none;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 9px 4px var(--color-text);
}

/* Class added with toggle in key.js */
.bubble.on {
  display: flex;
  position: absolute;
}
