:root {
  /* Font sizse */
  --h1: 1.3rem;
  --h2: 0.875rem;

  /* Colors */
  --color-background: #682332;
  --color-second-bg: #ce4b4b;
  --color-text: #f5dfbc;
  --color-border: #0d3f33;

  /* Fonts */
  --font-main: Poppins-Regular;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  position: relative;
  margin: 0;
  padding: 20px;
  height: 100vh;
}

.backgroundColor {
  background-color: var(--color-border);
}

h1 {
  color: var(--color-text);
  text-align: left;
  margin-top: 1rem;
  font-size: var(--h1);
  font-family: Poppins-Regular;
  display: inline-block;
}

h2 {
  color: var(--color-text);
  text-align: left;
  font-size: var(--h2);
  font-family: Poppins-Regular;
  display: inline-block;
}

.bell {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 1rem;
  top: 0;
  height: 80px;
  width: 100px;
  margin-left: 12%;
}

.moveBell {
  transform: rotate(100deg);
  transform-origin: top;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.powerButton {
  padding: 20px;
  right: 10%;
  height: 100px;
  width: 80px;
  background-color: transparent;
  padding: 1rem;
  margin-left: 12%;
  border: 5px solid var(--color-text);
  cursor: pointer;
}

.christmastreeContainer {
  height: 500px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2rem;
}
.christmastreeNotLight {
  height: 500px;
  width: 350;
  position: absolute;
}

.bubblesContainer {
  display: flex;
  justify-items: center;
  width: 430px;
  height: 100%;
  gap: 10px;
}

.bubble {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0px 0px 9px 4px var(--color-text);
  display: none;
}

.bubble.on {
  display: flex;
}
